<!DOCTYPE html>
<html>
<head>
  <title>MusicStore</title>
</head>
<body>
  <header>
    <nav>
      <li><a class="brand" href="#"> MusicStore </a></li>
      <ul>
        <div class="dropdown">
          <a>Product Categories</a>
            <div class="dropdown-content">
              <li *ngFor = "let item of categories" href="#PutLinkProductsCardGridHere">
                <a>{{item.name}}</a><br>
              </li>
            </div>
        </div>
        <div class="dropdown">
          <a>Products</a>
            <div class="dropdown-content">
              <li *ngFor = "let item of products" href="#PutLinkProductsCardGridHere">
                <a>{{item.name}}</a><br>
              </li>
            </div>
        </div>
        <li>
          <input type="search" name="Search" placeholder="Search" required>
        </li>

        <div class="dropdown">
          <a>Login</a>
            <div class="dropdown-content">
              <form>
                <fieldset id="inputs">
                  <input  id="username"
                          type="email"
                          name="Email"
                          placeholder="Your email address"
                          required>
                  <input  id="password"
                          type="password"
                          name="Password"
                          placeholder="Password"
                          required>
                </fieldset>
                <fieldset id="actions">
                  <input  type="submit"
                          id="submit"
                          value="Log in">
                  <label>
                    <input  type="checkbox"
                            checked="checked">
                    Keep me signed in
                  </label>
                </fieldset>
              </form>
            </div>
        </div>
      </ul>
    </nav>
  </header>

  <div class="main-section">

    <p>0. Dropdown tutorial:  https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text</p>
    <p>Style dropdown menus acording to other things</p>
    <p>Search button imp</p>
    <p>Horizontal scrolling for :</p>
    <p>1. Best seller products (Query DB on sold number)</p>
    <p>2. "You may like also..." with ML simple model</p>
    <p>3. Best producers (Query DB on sold number)</p>
    <p>4. Recently seen (Query DB on new table that tracks the seen prods) </p>
    <p>5. Login(new card overlapping)/Username(dropdown that differs if he is admin, producer or customer [<=Orders & shipment (New card)])</p>
    <p>6. Show cart (if not logged as session attr, otherwise fetch from database) on rightside</p>

    <div class="title">Products</div>
    <div class="horizontal-slider">
      <div class="slider-container">
        <div class="card" id="product" *ngFor = "let item of products">
          <img src={{item.imgurl}} class="card__image" alt="" />
          <button>
            <a href="#">Add to cart</a>
          </button>
          <p>{{item.name}}</p>
          <p>{{item.price}} €</p>
          <p>Stock : {{item.quantity}}</p>
          <p>Producer : {{item.producer}}</p>
          <p>Category : {{item.category}}</p>
        </div>
      </div>
    </div>

    <div class="title">Categories</div>
    <div class="horizontal-slider">
      <div class="slider-container">
        <div class="card" id="category" *ngFor = "let item of categories">
          <img src={{item.imgurl}} class="card__image" alt="" />
            <button>
              <a href="#">{{item.name}}</a>
            </button>
        </div>
      </div>
    </div>

    <p>Free images site: https://unsplash.com/</p>

    <br>
  </div>
  <footer>
    <div class="container">
      <div class="col ft-column-1">
        <p>General</p>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy</a>
      </div>
      <div class="col ft-column-2">
        <p>Company</p>
        <a href="#">About Us</a>
        <a href="#">Contacts</a>
      </div>
      <div class="col ft-column-3">
        <p>Share</p>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">Linkedin</a>
      </div>
      <div class="col ft-column-4">
        <p>Repo</p>
        <a target="_blank" href="https://github.com/iambrunoromano">GitHub</a>
      </div>


    </div>
  </footer>
  </body>
</html>
