<!DOCTYPE html>
<html>
<head>
  <title>MusicStore</title>
</head>
<body>
  <header>
    <nav>
      <li><a class="brand" href=""> MusicStore </a></li>
      <ul>
        <div class="dropdown">
          <a routerLink = "/categories">Categories</a>
        </div>
        <div class="dropdown">
          <a routerLink = "/products">Products</a>
        </div>
        <li>
          <a routerLink = "/search">Search</a>
        </li>
        <div class="dropdown">
          <a *ngIf="this.logStatus.logstatus" routerLink = "/login">Logout</a>
          <a *ngIf="!this.logStatus.logstatus" routerLink = "/login">Login</a>
        </div>
      </ul>
    </nav>
  </header>

  <div class="main-section">

    <router-outlet></router-outlet>


    <p>ToDo:</p>
    <p>Order Logic: a button triggers the moving of products to order and shows back order detail</p>
    <p>Admin login</p>
    <p>CRUD for Products by Admin and Producers</p>
    <p>CRUD for Categories by Admin</p>
    <p>LastOrders view for Customer</p>
    <p>CRUD for Users, Customer, Producer, Admin by Admin</p>
    <p>Settings Manager for User[Customer/Producer] by Customer and Producers</p>
    <br>
    <p>LowPriority:</p>
    <p>Search Logic: backend logic and frontend display results (prods ad categories)</p>
    <p>Style forms</p>
    <p>Recently seen (Query DB on new table that tracks the seen prods) </p>

    <p>Free images site: https://unsplash.com/</p>

    <br>
  </div>
  <footer>
    <div class="container">
      <div class="col ft-column-1">
        <p>General</p>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy</a>
      </div>
      <div class="col ft-column-2">
        <p>Company</p>
        <a href="#">About Us</a>
        <a href="#">Contacts</a>
      </div>
      <div class="col ft-column-3">
        <p>Share</p>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">Linkedin</a>
      </div>
      <div class="col ft-column-4">
        <p>Repo</p>
        <a target="_blank" href="https://github.com/iambrunoromano">GitHub</a>
      </div>


    </div>
  </footer>
  </body>
</html>
