/*COLOR PALETTE:
#2B2E4A - BLACKISH
#E84545 - LIGHT red
#903749 - DARK red
#53354A - BROWN
#AEAEAE - GREY
*/

body {
height: 125vh;
margin-top: 80px;
padding: 0;
margin: 0;
background-size: cover;
font-family: sans-serif;

display: flex;
flex-direction: column;
min-height: 100vh;
}

header {
background-color: #2B2E4A;
position: fixed;
left: 0;
right: 0;
top: 0;
height: 60px;
display: flex;
align-items: center;
box-shadow: 0 0 10px 0 black;
z-index: 1;
}

header nav {
  margin: auto;
  min-width: 455px;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: AEAEAE;
text-decoration: none;
}

* a{
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  color : #BDBDBD;
}

a.brand{
  font-family: 'Monaco', sans-serif;
  font-size: 170%;
}

a:hover{
  color: white;
  transition: 0.3s ease-out;
  text-shadow: 2px 2px 5px black;
}

footer{
  color:white;
  margin-top:auto;
  position: relative;
  bottom:0px;
  padding:0;
  background-color: #2B2E4A;
  height: 150px;
  align-items: center;
}

footer.container{
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50%;
}

.container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin: 0 auto;
}

.col{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.col p{
  color : #979aaa;
  margin-top: 30px;
  margin-bottom: 10px;
}

.col a{
  font-size: 80%;
  color: #AEAEAE;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 2px;
}

.col a:hover{
  color: white;
  transition: 0.3s ease-out;
  text-shadow: 2px 2px 5px black;
}

.social-menu ul{
  position:absolute;
  color:white;
}

* .main-section{
  position:relative;
  margin-top: 20vh;
  margin-bottom: 70px;
  padding-top: 75px;
}

.collapsible{
  background-color: #53354A;
  color: white;
  width: 60%;
  cursor: pointer;
  padding : 20px;
  border: none;
  border-radius: 5px;
  font-size: 120%;
}

.collapsible:hover{
  background-color: #903749;
}

.coll-content{
  padding: 0 18px;
  display: none;
  overflow:hidden;
  background-color: #AEAEAE;
}

.main-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #AEAEAE;
  width: 1000px;
  margin: auto;
}

.cardcontainer.card{
  /*display:flex;
  flex-direction: row;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.card{
  border-radius: 15px;
  background: #2B2E4A;
  padding : 10px;
  margin: 10px;
  width:300px;
  box-shadow: 0 0 7px black;
}

.card:hover{
  box-shadow: 0 0 11px black;
  background: #262942;
  color: white;
}

.card #category{
  height: 400px;
}

.card #product{
  height: 450px;
}

img{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}
