<div class="main-section">
  <div class="title">Login</div>
  <div class="card" id="login">
    <form>
      <fieldset id="inputs">
        <input  id="username"
                type="email"
                name="Email"
                placeholder="Your email address"
                required>
        <input  id="password"
                type="password"
                name="Password"
                placeholder="Password"
                required>
      </fieldset>
      <fieldset id="actions">
        <input  type="submit"
                id="submit"
                value="Log in">
        <label>
          <input  type="checkbox"
                  checked="checked">
          Keep me signed in
        </label>
      </fieldset>
    </form>
    <button>
      <a href="#">Login</a>
    </button>
  </div>
</div>
