<div class="main-section">
  <div class="title">Best Products</div>
  <div class="horizontal-slider">
    <div class="slider-container">
      <div class="card" id="product" *ngFor = "let item of products">
        <img src={{item.imgurl}} class="card__image" alt="" />
        <button>
          <a href="#">Add to cart</a>
        </button>
        <p>{{item.name}}</p>
        <p>{{item.price}} €</p>
        <p>Stock : {{item.quantity}}</p>
        <p>Producer : {{item.producer}}</p>
        <p>Category : {{item.category}}</p>
      </div>
    </div>
  </div>
  <div class="title">Best Producers</div>
  <div class="horizontal-slider">
    <div class="slider-container">
      <div class="card" id="producer" *ngFor = "let item of producers">
        <button>
          <a href="#">Visit {{item.name}} Store</a>
        </button>
        <p>Contact : {{item.mail}} €</p>
        <p>Address : {{item.address}}</p>
      </div>
    </div>
  </div>
</div>
